.vscode/**
.vscode-test/**
src/**
test/**
coverage/**
.gitignore
tsconfig.json
tsconfig.jest.json
jest.config.js
**/*.map
**/.git/**
node_modules/**
!node_modules/**/*.js.LICENSE.txt
claude.md

# exclude example project and examples folder
example_project/**
examples/**